@import 'mixins';

.item {
  @include flex-row();
  @include flex-align(center, center);
  flex: 0 0 auto;
  border-radius: 4px;
  width: 50px;
  height: 40px;
  background: #ccc;
  color: #000;
}

:host {
  @include flex-row();
  @include flex-align(center, start);
  padding: 1rem;
  width: 100%;
  position: relative;

  .container {
    max-width: 100%;
    @include flex-column();
    @include flex-align(center, center);
    .item-box {
      max-width: 100%;
      @include flex-row();
      @include flex-align(start, stretch);
      padding: 1rem;
      border-radius: 4px;
      border: 1px solid #ccc;
      > *:not(:last-child) {
        margin-right: 1rem;
      }
      .hide {
        display: none;
      }
    }
  }
}

.item-overlay {
  @include flex-column();
  @include flex-align(start, center);
  > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}
