<div class="container">
  <div class="item-box">

    <jcs-dynamic-overlay>
      <ng-template>
        <div class="item" *jcsResponsiveItem="'auto'; breakpoint: 250">1</div>
        <div class="item" *jcsResponsiveItem="'auto'; breakpoint: 300">2</div>
        <div class="item" *jcsResponsiveItem="'auto'; breakpoint: 350">3</div>
        <div class="item" *jcsResponsiveItem="'auto'; breakpoint: 400">4</div>
        <div class="item" *jcsResponsiveItem="'auto'; breakpoint: 500">6</div>
        <div class="item" *jcsResponsiveItem="'auto'; breakpoint: 550">7</div>
      </ng-template>

      <button jcs-dynamic-overlay-trigger>
        <span>●</span>
        <span>●</span>
        <span>●</span>
      </button>

    </jcs-dynamic-overlay>

  </div>
</div>