<div class="container">
  <div class="item-box">

    <tgm-dynamic-overlay>
      <ng-template>
        <div class="item" *tgmResponsiveItem="'auto'; breakpoint: 250">1</div>
        <div class="item" *tgmResponsiveItem="'auto'; breakpoint: 300">2</div>
        <div class="item" *tgmResponsiveItem="'auto'; breakpoint: 350">3</div>
        <div class="item" *tgmResponsiveItem="'auto'; breakpoint: 400">4</div>
        <div class="item" *tgmResponsiveItem="'auto'; breakpoint: 500">6</div>
        <div class="item" *tgmResponsiveItem="'auto'; breakpoint: 550">7</div>
      </ng-template>

      <button tgm-dynamic-overlay-trigger>
        <span>●</span>
        <span>●</span>
        <span>●</span>
      </button>

    </tgm-dynamic-overlay>

  </div>
</div>