@import '~@angular/material/theming';
@include mat-core();

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  margin: 0px;
  padding: 0px;
  font-family: 'roboto', 'helvetica', sans-serif;
  overflow: hidden;
}
